---
layout: default
---

<div class="row ">
    <div class="col-lg-4 offset-md-1">
        <div class="card" id="profile-card">
            <a href="/">
                <img src="/assets/img/{{ site.author_logo }}" class="profile-img">
            </a>
            <h1 class="profile-name"> {{ site.title }}</h1>
            <p class="profile-bio"> {{ site.subtitle }}</p>
            <p class="profile-links">
                {% if site.twitter_username %}
                <a class="social-link" href="http://twitter.com/{{ site.twitter_username }}">
                    <i class="fab fa-twitter"></i>
                </a>
                {% endif %}
                {% if site.facebook_username %}
                <a class="social-link" href="http://facebook.com/{{ site.facebook_username }}">
                    <i class="fab fa-facebook-f"></i>
                </a>
                {% endif %}
                {% if site.instagram_username %}
                <a class="social-link" href="http://instagram.com/{{ site.instagram_username }}">
                    <i class="fab fa-instagram"></i>
                </a>
                {% endif %}
                {% if site.github_username %}
                <a class="social-link" href="http://github.com/{{ site.github_username }}">
                    <i class="fab fa-github"></i>
                </a>
                {% endif %}
                {% if site.linkedin_username %}
                <a class="social-link" href="http://linkedin.com/in/{{ site.linkedin_username }}">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                {% endif %}
            </p>

            <h6> <i class="fas fa-map-marker-alt"></i>India</h6>
            <h6> <i class="fas fa-envelope"></i>karsumit94[at]live[dot]com</h6>
            <h6> <i class="fas fa-link"></i>sumitkar.in</h6>


        </div>
        <div class="card">
            <h1 class="card-title">About</h1>
            <p>
                Computer engineer fascinated by the web, specially by the front-end development. Has a deep knowledge of
                the several web layers and the interaction between all of them. Capable of shipping creative and optimal
                solutions according to the requirements. Firm believer in Clean Code and Agile methodologies.
            </p>
            <p>
                My career began in Kolkata building website using Drupal based Conetent Management Systems.
            </p>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="card">
            <h1> Skills </h1>
            {%- include author_skills.html -%}
        </div>


        <div class="card">
            <h1 class="card-title"> Work Experience</h1>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <img src="/assets/img/cisco.png" class="company-logo" />
                </div>
                <div class="col-md-8 offset-md-2">
                    <h4 class="experience-title">Software Engineer</h4>
                    <h6 class="experience-info"><a href="https://www.cisco.com">Cisco Systems (India) Pvt. Ltd.</a></h6>
                    <p class="experience-desc">
                        <ul>
                            <li>Developed a web-based network testing tool using Java, JavaScript and WebRTC</li>
                            <li>Designed the framework for the Service Assurance Portal using Angular</li>
                            <li>Worked on securing web application from external threats</li>
                            <li>Involved in creating Jenkins jobs for CICD</li>
                            <li>Implemented a Code Review process for all the development and testing done for a product
                            </li>
                            <li>Added git-hooks for making the code review process mandatory to make the product more
                                robust and secure</li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>



        {% if site.show_author_education_details == true %}
        <div class="card">
            <h1 class="card-title"> Education </h1>
            <br />
            {% for detail in site.author_education_details %}
            {% if detail.visibility == true %}
            <div class="row">
                <div class="col-md-2">
                    <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ detail.college_logo}}" class="company-logo" />
                </div>
                <div class="col-md-6">
                    <h4 class="experience-title"> {{detail.college_degree }}</h4>
                    <h6 class="experience-info">{{detail.college_name}}</h6>
                    <p class="experience-desc"> {{detail.description}} </p>
                    <p><a href="{{detail.college_url}}">{{ detail.college_url}}</a></p>
                </div>
            </div>
            {% endif %}

            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>