---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{%- include head.html -%}

<body>
    <div class="container-fluid h-100">
        <div id="bg-particle"></div>
        <div class="row h-100">
            <div class="col-lg-12" class="auto-center">
                {{ content }}
            </div>
        </div>
    </div>
    <style>
        #bg-particle {
            position: fixed;
            width: 2000px;
            height: 1000px;
        }

        .auto-center {
            margin-top: auto;
            margin-bottom: auto;
        }
    </style>
    <script>
        var options = {
            classname: 'my-class',
            id: 'my-id'
        };
        var nanobar = new Nanobar( options );
        nanobar.go( 30 );
        nanobar.go( 76 );
        nanobar.go( 100 );

    </script>
    <script src="https://unpkg.com/jparticles@2.0.1/production/jparticles.js"></script>
    <script src="https://unpkg.com/jparticles@2.0.1/production/particle.js"></script>
    <script>
        new JParticles.particle( '#bg-particle', {
            proximity: 90,
            range: 100,
            opacity: 0.9,
            color: [ '#FFFFFF', '#9E9E9E' ],
            resize: true
        } );
    </script>
    </div>
</body>

</html>