---
layout: default-no-header-footer
---

<script>
  $( document ).ready( function ()
  {
    $( '#typewriteText' ).typewrite( {
      actions: [
        { type: 'I want to make things that make a difference.' }
      ]
    } );
  } );
</script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">Hello, world!</h1>
    <h3> I’m Sumit Kar, Application Developer based on India. </h3>
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-dark btn-lg"><a href="/about">Get Started </a></button>
  </div>
</div>